<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/ff991a4f28.js" crossorigin="anonymous"></script>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Permanent+Marker&family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="box-header-top">
            <i class="fa-regular fa-envelope"> ventas@librerialdp.com.ar</i>
            <i class="fa-solid fa-phone-volume"> 5356-1332</i>
            <i class="fa-brands fa-whatsapp"> 11-6218-7403</i>
            <i class="fa-solid fa-house"> CABA - Almagro</i>        
    </div>
    
    <header>
        <div class="box-header">
            <div class="box-logo">
                <a class="logo-a" href="">
                    <img class="logo-img" src="../../public/img/logoA.jpg" alt="que onda">
                </a>
                <div class="coop">
                    Cooperativa de Trabajo Libreria Del Profesional ltda.
                </div>
                
            </div>
           
            <form class="box-search" action="">
                <input class="input-search" type="text" placeholder="Buscar">
                <button class="btn-input-search" ><i class="fa-solid fa-magnifying-glass"></i></button>
    
            </form>

            <div class="box-user" >
                <i class="fa-solid fa-cart-shopping"></i>
                <div>Carrito</div>
            </div>
            
            <div class="box-user" >
                <i class="fa-regular fa-user"></i>
                <div> Session</div>
            </div>
        </div>


    </header>

    <main>
        <div class="box-main">
            
        </div>

    </main>

    <footer>
        <div class="box-footer">
            
        </div>
    </footer>
</body>
</html>